@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');
$fraunces-font-family: 'Fraunces', serif;
$body-font-size: 18px;
$header-color: white;
$barlow-font-family: 'Barlow', sans-serif;
$lato-font-family: 'Lato', sans-serif;
$soft-red: rgba(255, 251, 248, 255);
$underline-soft-red: hsl(7, 99%, 70%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$yellow: hsl(51, 100%, 49%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: #2c7564;
$cyan-footer-bg: hsl(167, 44%, 70%);
$rubic-font-family: 'Rubik', sans-serif;
