@import 'colors-and-fonts';
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0%;
  font-family: $fraunces-font-family;
  font-size: $body-font-size;
}
header {
  padding: 0%;
  height: 92vh;
  color: $header-color;
  background: url(../sunnyside-agency-landing-page-main/images/mobile/image-header.jpg)
    center no-repeat;
  background-size: cover;
  .navbar {
    padding-top: 2vh;
    margin: 0px;
    .logo {
      margin: 1rem auto auto 1rem;
      width: 30vw;
    }
  }
  .nav-item {
    display: none;
  }
  .h1-and-arrow {
    text-align: center;
    h1 {
      text-align: center;
      font-family: $fraunces-font-family;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin-top: 20vh;
      letter-spacing: 0.5rem;
      opacity: 0.9;
    }
    .arrow {
      height: 7.1rem;
      width: 2.3rem;
      margin-top: 1.5rem;
    }
  }
}
#hamburger {
  display: none;
  cursor: pointer;
}
.active::before {
  content: '';
  position: absolute;
  right: 0%;
  top: -6%;
  width: 0;
  height: 0;
  border-right: 20px solid $soft-red;
  border-bottom: 20px solid transparent;
  transform: rotate(90deg);
}
.active {
  display: block;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: $barlow-font-family;
  list-style: none;
  position: fixed;
  top: 15%;
  right: 7.5%;
  text-align: center;
  font-weight: bolder;
  background-color: $soft-red;
  width: 85%;
  height: 50vh;
  padding: 4vh 0vh 0vh 0vh;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 10;

  .nav-item {
    display: block;
    height: 22%;
    .nav-link {
      transition: all 0.5s ease;
      margin: auto;
      color: $dark-grayish-blue;
      width: 40%;
      height: 70%;
      justify-self: center;
    }
    .nav-link:hover {
      background: $yellow;
      border-radius: 25px;
      font-family: $fraunces-font-family;
      text-transform: uppercase;
      color: $very-dark-desaturated-blue;
      font-size: 1rem;
    }
  }
}

main {
  .flex-container {
    color: hsl(212, 27%, 19%);
    height: auto;
    flex-direction: column;
    padding: 0%;
    .flex-row {
      font-size: 0.5rem;
      height: 50vh;
      display: block;
      width: 100%;
    }
    .flex-one {
      background: url(../sunnyside-agency-landing-page-main/images/mobile/image-transform.jpg)
        center/cover no-repeat;
    }
    .flex-text {
      height: 71vh;
    }
    .img-and-txt {
      text-align: center;
      height: 100vh;
      .text {
        position: relative;
        top: 50%;
        padding-right: 0%;
        padding-left: 0%;
        h2 {
          margin-top: 2rem;
          font-size: 1.6rem;
          text-transform: capitalize;
        }
        p {
          line-height: 1.5rem;
          font-size: 1rem;
          margin: 1.5rem 1rem auto 1rem;
        }
      }
    }
    .flex-two {
      .text {
        .underlined::after {
          background: $yellow;
        }
      }
    }
    .flex-three {
      background: url(../sunnyside-agency-landing-page-main/images/mobile/image-stand-out.jpg)
        center/cover no-repeat;
    }
    .flex-four {
      .text {
        .underlined::after {
          background: $underline-soft-red;
        }
      }
    }
  }
  .flex-five {
    background: url(../sunnyside-agency-landing-page-main/images/mobile/image-graphic-design.jpg)
      center/cover no-repeat;
    color: $dark-desaturated-cyan;
    .text {
      p {
        color: $dark-desaturated-cyan;
      }
    }
  }
  .flex-six {
    background: url(../sunnyside-agency-landing-page-main/images/mobile/image-photography.jpg)
      center/cover no-repeat;
    .text {
      color: $dark-blue;
      p {
        color: $dark-blue;
      }
    }
  }
  .text {
    flex-direction: column;
    padding: 2.5rem 1.5rem 0rem 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    h2 {
      margin-top: 1.5rem;
      font-size: 2rem;
      // opacity: 0.9;
      font-weight: 900;
    }
    p {
      margin-top: 1rem;
      font-family: $barlow-font-family;
      font-size: 1.1rem;
      line-height: 2rem;
      opacity: 0.9;
      color: $dark-grayish-blue;
    }
    .underlined {
      text-decoration: none;
      color: hsl(212, 27%, 19%);
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 900;
    }
    .underlined::after {
      content: '';
      display: block;
      position: absolute;
      width: 7.5rem;
      height: 0.5rem;
      margin-top: -0.5rem;
      // right: 31%;
      align-self: center;
      opacity: 0.3;
      border-radius: 9px;
      // justify-self: center;
    }
  }

  .soft-red-bg {
    background: $soft-red;
  }
  .client-test {
    margin: auto;
    padding-top: 3.5rem;
    text-align: center;
    // font-size: 0.3rem;
    justify-content: space-between;
    color: $dark-grayish-blue;
    height: auto;
    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      color: $grayish-blue;
      letter-spacing: 0.2rem;
    }
    .client-test-container {
      flex-direction: column;
      .flex-item {
        font-family: $barlow-font-family;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 3rem;
        .img-container {
          text-align: center;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;
          .img {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
          }
        }

        h4 {
          font-weight: 900;
          font-family: $fraunces-font-family;
          color: $very-dark-desaturated-blue;
        }
        .title {
          color: $grayish-blue;
          font-size: 0.9rem;
          opacity: 0.7;
        }
      }
      .emily {
        .img {
          background: url(../sunnyside-agency-landing-page-main/images/image-emily.jpg)
            no-repeat center/cover;
        }
      }
      .thomas {
        .img {
          background: url(../sunnyside-agency-landing-page-main/images/image-thomas.jpg)
            no-repeat center/cover;
        }
      }
      .jennie {
        .img {
          background: url(../sunnyside-agency-landing-page-main/images/image-jennie.jpg)
            no-repeat center/cover;
        }
      }
    }
  }
  .pics-container {
    .pic {
      height: 33vh;
      width: 50%;
    }
    .pic-one {
      background: url(../sunnyside-agency-landing-page-main/images/mobile/image-gallery-milkbottles.jpg)
        no-repeat center/cover;
    }
    .pic-two {
      background: url(../sunnyside-agency-landing-page-main/images/mobile/image-gallery-orange.jpg)
        no-repeat center/cover;
    }
    .pic-three {
      background: url(../sunnyside-agency-landing-page-main/images/mobile/image-gallery-cone.jpg)
        no-repeat center/cover;
    }
    .pic-four {
      background: url(../sunnyside-agency-landing-page-main/images/mobile/image-gallery-sugar-cubes.jpg)
        no-repeat center/cover;
    }
  }
}

footer {
  height: 60vh;
  background: $cyan-footer-bg;
  text-align: center;
  color: $dark-moderate-cyan;
  .footer-logo {
    h1 {
      font-family: $rubic-font-family;

      opacity: 0.9;
      font-size: 2rem;
      margin-top: 3.5rem;
    }
  }
  .footer-center-row {
    font-family: $barlow-font-family;
    opacity: 0.7;
    .footer-center-item {
      margin: 2rem;
      cursor: pointer;
    }
  }
  .contact {
    align-items: center;
    justify-content: center;
    margin: 3rem auto auto auto;
    .icon {
      margin: auto 1.1rem 3rem 1.1rem;
      cursor: pointer;
    }
  }
  .attribution {
    font-size: 0.7rem;
    font-family: $barlow-font-family;
  }
}

@media only screen and (max-width: 768px) {
  #hamburger {
    display: block;
  }
}

@media only screen and (min-width: 320px) {
  header {
    height: 75vh;
    .h1-and-arrow {
      h1 {
        font-size: 2rem;
      }
      padding-top: 0%;
      margin-top: -7vh;
    }
  }
  .active::before {
    top: -4%;
  }
  .active {
    top: 10%;
  }
  main {
    .flex-container {
      .flex-text {
        height: 80vh;
      }
      .img-and-txt {
        height: 87vh;
      }
    }
    .pics-container {
      .pic {
        height: 25vh;
      }
    }
  }

  footer {
    height: 60vh;
  }
}
@media only screen and (min-width: 375px) {
  main {
    .flex-container {
      .flex-text {
        height: 60vh;
      }
    }
  }
}

@media only screen and (min-width: 414px) {
  main {
    .flex-container {
      .flex-text {
        height: 60vh;
      }
    }
  }
  footer {
    .footer-center-item {
      margin: auto;
    }
  }
}
@media only screen and (min-width: 600px) {
  header {
    .h1-and-arrow {
      padding-top: 0%;
      margin-top: 25vh;
    }
    h1 {
      margin-right: 2vw;
      margin-left: 5vw;
    }
  }
  main {
    .flex-container {
      .text {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }
      .flex-text {
        height: 55vh;
      }
      .img-and-txt {
        height: 85vh;
        .text {
          h2 {
            font-size: 3rem;
          }
          p {
            font-size: 1.5rem;
            line-height: 2.5rem;
          }
        }
      }
    }
    .pics-container {
      .pic {
        height: 25vh;
      }
    }
    .client-test {
      p {
        font-size: 1.5rem;
      }
      .client-test-container {
        .flex-item {
          .title {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  header {
    height: 110vh;
    background: url(../sunnyside-agency-landing-page-main/images/desktop/image-header.jpg)
      no-repeat center top/cover;
    .navbar {
      .logo {
        width: 13vw;
      }
      .nav-menu {
        display: flex;
        font-family: $barlow-font-family;

        .nav-item {
          display: block;
          .nav-link {
            transition: all 0.5s ease-in;
            margin: 1rem;
            color: $dark-grayish-blue;
            // width: 40%;
            // height: 70%;
            justify-self: center;
            color: white;
          }
          .nav-link:hover {
            background: white;
            border-radius: 25px;
            font-family: $fraunces-font-family;
            text-transform: uppercase;
            color: $very-dark-desaturated-blue;
            font-size: 1rem;
          }
        }
      }
    }
    .h1-and-arrow {
      h1 {
        font-size: 3.5rem;
      }
      .arrow {
        width: 2.5rem;
        height: 7.5rem;
      }
    }
  }
  main {
    .grid-container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto;
      .grid-item {
        height: 92vh;
        .text {
          text-align: start;
          h2 {
            margin: 9vw 6vw 2vw 7vw;
            font-size: 2.5rem;
          }
          p {
            font-size: 1.1rem;
            margin: auto 6vw 2vw 7vw;
            line-height: 2rem;
          }
          .underlined {
            position: relative;
            right: 25%;
          }
        }
      }
      .img-and-txt {
        .text {
          text-align: center;
          h2 {
            font-size: 1.8rem;
            margin-top: 3rem;
          }
          p {
            font-size: 1rem;
            margin-left: 12vw;
            margin-right: 12vw;
          }
        }
      }
      .grid-one {
        grid-row: 1/1;
        grid-column: 2/2;
        background: url(../sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg)
          no-repeat center/cover;
      }
      .grid-two {
        grid-row: 1/1;
        grid-column: 1/1;
      }
      .grid-three {
        grid-row: 2/2;
        grid-column: 1/1;
        background: url(../sunnyside-agency-landing-page-main/images/desktop/image-stand-out.jpg)
          no-repeat center/cover;
      }
      .grid-four {
        grid-row: 2/2;
        grid-column: 2/2;
      }
      .grid-five {
        grid-row: 3/3;
        grid-column: 1/1;
        background: url(../sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg)
          no-repeat center/cover;
      }
      .grid-six {
        grid-row: 3/3;
        grid-column: 2/2;
        background: url(../sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg)
          no-repeat center/cover;
      }
    }
    .client-test {
      height: 120vh;
      h3 {
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
        margin-top: 15vh;
      }
      .client-test-container {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        .flex-item {
          width: 30%;
          .text {
            font-size: 1.1rem;
            color: $very-dark-desaturated-blue;
            opacity: 0.8;
            margin-bottom: 10vh;
            line-height: 2rem;
          }
          .name {
            font-size: 1.1rem;
            margin-bottom: 2vh;
          }
          .title {
            font-size: 0.8rem;
            opacity: 0.9;
          }
        }
      }
    }
  }
  .pics-container {
    display: flex;
    flex-direction: row;
    height: 72vh;

    .row {
      width: 53%;
      height: 100%;
      .pic {
        height: 100%;
        width: 50%;
      }
      .pic-one {
        background: url(../sunnyside-agency-landing-page-main/images/desktop/image-gallery-milkbottles.jpg)
          no-repeat center/cover;
      }
      .pic-two {
        background: url(../sunnyside-agency-landing-page-main/images/desktop/image-gallery-orange.jpg)
          no-repeat center/cover;
      }
      .pic-three {
        background: url(../sunnyside-agency-landing-page-main/images/desktop/image-gallery-cone.jpg)
          no-repeat center/cover;
      }
      .pic-four {
        background: url(../sunnyside-agency-landing-page-main/images/desktop/image-gallery-sugarcubes.jpg)
          no-repeat center/cover;
      }
    }
  }
}
